* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e5d1d0;
  padding: 10px;
  height: 100vh;
  width: 100vw;
}

.item {
  height: clamp(50px, 8vw, 100px);
  width: clamp(50px, 8vw, 100px);

  background-color: #839788;
  top: 50%;

  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.item {
  transition: all 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
